.search-button {
  color: white;
  border-color: white;
}

.search-button:hover {
  color: blue;
  background-color: white;
  border-color: lightgrey;
}

footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding-left: 10px;
  background-color: lightblue;
}
